### Send data from Bitcoin and Stocks to a postgreSQL database

In [ ]:
# run data import
import_data_sql

### Transforming data in the btc_usd table from minute to days, calculating aditional features

In [23]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime, timedelta

# create engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/bitcoin_test')

# get data to a dataframe
dates_list = pd.date_range(start='2014-12-02', end='2018-06-27')

for date_ in dates_list[0:2]:
    df = pd.read_sql_query("""
        SELECT * FROM btc_usd WHERE date_::date = '{}'
        """.format(date_.date()), engine)
    
    if not df.empty:
        print(df.sort_values(by='date_').head())

   timestamp_value   open   high    low  close  volume_btc  volume_currency  \
1       1417478400  370.0  370.0  370.0  370.0    0.026556          9.82555
2       1417478460  370.0  370.0  370.0  370.0    0.026556          9.82555
3       1417478520  370.0  370.0  370.0  370.0    0.026556          9.82555
4       1417478580  370.0  370.0  370.0  370.0    0.026556          9.82555
5       1417478640  370.0  370.0  370.0  370.0    0.026556          9.82555

   weighted_price               date_
1           370.0 2014-12-02 00:00:00
2           370.0 2014-12-02 00:01:00
3           370.0 2014-12-02 00:02:00
4           370.0 2014-12-02 00:03:00
5           370.0 2014-12-02 00:04:00
     timestamp_value   open   high    low  close  volume_btc  volume_currency  \
726       1417564800  378.0  378.0  378.0  378.0        0.01             3.78
727       1417564860  378.0  378.0  378.0  378.0        0.01             3.78
728       1417564920  378.0  378.0  378.0  378.0        0.01             3.78
729       1417564980  378.0  378.0  378.0  378.0        0.01             3.78
730       1417565040  378.0  378.0  378.0  378.0        0.01             3.78

     weighted_price               date_
726           378.0 2014-12-03 00:00:00
727           378.0 2014-12-03 00:01:00
728           378.0 2014-12-03 00:02:00
729           378.0 2014-12-03 00:03:00
730           378.0 2014-12-03 00:04:00

### count values

In [ ]:
print(df.dtypes)

for column in df.columns:
    print(df[column].value_counts(bins=3))