### getting data

In [11]:
from sqlalchemy import create_engine
import pandas as pd

# create engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/census_income')

# get data to a dataframe
df = pd.read_sql_query('SELECT * FROM census_table', engine)
df.head()

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veterans_admin,veterans_benefits,weeks_worked_in_year,year_survey,income_50k
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.

### count values

In [15]:
print(df.dtypes)

for column in df.columns:
    print(df[column].value_counts(bins=3))

age                                            int64
class_of_worker                               object
detailed_industry_recode                       int64
detailed_occupation_recode                     int64
education                                     object
wage_per_hour                                  int64
enroll_in_edu_inst_last_wk                    object
marital_stat                                  object
major_industry_code                           object
major_occupation_code                         object
race                                          object
hispanic_origin                               object
sex                                           object
member_of_a_labor_union                       object
reason_for_unemployment                       object
full_or_part_time_employment_stat             object
capital_gains                                  int64
capital_losses                                 int64
dividends_from_stocks                          int64
tax_filer_stat                                object
region_of_previous_residence                  object
state_of_previous_residence                   object
detailed_household_and_family_stat            object
detailed_household_summary_in_household       object
weight                                       float64
migration_code_change_in_msa                  object
migration_code_change_in_reg                  object
migration_code_move_within_reg                object
live_in_this_house_1_year_ago                 object
migration_prev_res_in_sunbelt                 object
num_persons_worked_for_employer                int64
family_members_under_18                       object
country_of_birth_father                       object
country_of_birth_mother                       object
country_of_birth_self                         object
citizenship                                   object
own_business_or_self_employed                 object
fill_inc_questionnaire_for_veterans_admin     object
veterans_benefits                              int64
weeks_worked_in_year                           int64
year_survey                                   object
income_50k                                    object
dtype: object
(-0.091, 30.0]    91337
(30.0, 60.0]      77789
(60.0, 90.0]      30397
Name: age, dtype: int64

TypeError: bins argument only works with numeric data.